/* div {

  padding-left: 100px;

  padding-right: 100px;
  display: grid;
}
iframe {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-content: stretch 1 -1;
  align-items: stretch 1 -1;
} */

/* html {
  height: 1000px;
} */
.wrap-element {
  position: fixed;
  overflow: hidden;
  padding-top: 56.25%;
}

.wrapped-iframe {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
